# Sprint0 授業前課題
# 機械学習スクラッチ入門

## 【問題1】train_test_splitのスクラッチ

まずはスクラッチの練習として、scikit-learnのtrain_test_splitを自作してみましょう。Jupyter Notebookでコーディングを進め、完成後はpyファイルとします。utilsディレクトリの中にsplit.pyを作ってください。

[sklearn.model_selection.train_test_split — scikit-learn 0.20.0 documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [82]:
import numpy as np
import sys
#pathが直下に無いのでutilへのpathを追加
sys.path.append("/Users/ohmori/diveintocode-ml/diveintocode-term1/ml-scratch/utils")

In [83]:
print(sys.path)

['/Users/ohmori/anaconda3/lib/python36.zip', '/Users/ohmori/anaconda3/lib/python3.6', '/Users/ohmori/anaconda3/lib/python3.6/lib-dynload', '', '/Users/ohmori/anaconda3/lib/python3.6/site-packages', '/Users/ohmori/anaconda3/lib/python3.6/site-packages/aeosa', '/Users/ohmori/anaconda3/lib/python3.6/site-packages/IPython/extensions', '/Users/ohmori/.ipython', '/Users/ohmori/diveintocode-ml/diveintocode-term1/ml-scratch/utils', '/Users/ohmori/diveintocode-ml/diveintocode-term1/ml-scratch/utils', '/Users/ohmori/diveintocode-ml/diveintocode-term1/ml-scratch/utils', '/Users/ohmori/diveintocode-ml/diveintocode-term1/ml-scratch/utils']

In [84]:
#split.pyからtrain_test_splitのmethodをimport 
from split import  train_test_split

In [85]:
X = np.array([
    [1, 2],
    [3, 4],
    [5, 6],
    [7, 8]
])

y = np.array([1, 2, 3, 4])

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [87]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

[[1 2]
 [5 6]
 [7 8]]
[[3 4]]
[1 3 4]
[2]

## 【問題2】 分類パイプラインの作成

分類は3種類の手法を扱います。pyファイルで実行できる分類のパイプラインを作成してください。

* ロジスティック回帰<br>
* SVM<br>
* 決定木<br>

データセットは3種類用意します。

1つ目は事前学習期間同様にirisデータセットです。

[sklearn.datasets.load_iris — scikit-learn 0.20.2 documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html)

2値分類としたいため、以下の2つの目的変数のみ利用します。特徴量は4種類全て使います。

* virgicolorとvirginica

また、残り2つは可視化が可能な特徴量が2つのデータセットを人工的に用意します。以下のコードで説明変数X,目的変数yが作成可能です。「シンプルデータセット1」「シンプルデータセット2」とします。

### irisデータセット

In [88]:
from sklearn.datasets import load_iris
dataset = load_iris()
print(dataset.keys())
print(dataset.target_names)

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])
['setosa' 'versicolor' 'virginica']

In [89]:
import pandas as pd

#import features
x = pd.DataFrame(dataset.data, columns = dataset.feature_names)
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [90]:
#import target value
y = pd.DataFrame(dataset.target, columns = {'species'})
y.head()

   species
0        0
1        0
2        0
3        0
4        0

In [91]:
#concatenate x and y
df = pd.concat((x, y), axis=1)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [92]:
#extract only versicolor and virginica
#drop setosa rows(label: 0)
setosa_row = df[df['species'] == 0].index
df = df.drop(setosa_row, axis=0)

In [93]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1

In [94]:
import numpy as np

#dataframe to ndarray
ary = np.array(df.iloc[:, :])

In [95]:
#confirm conversion
print(ary[0:5])

[[7.  3.2 4.7 1.4 1. ]
 [6.4 3.2 4.5 1.5 1. ]
 [6.9 3.1 4.9 1.5 1. ]
 [5.5 2.3 4.  1.3 1. ]
 [6.5 2.8 4.6 1.5 1. ]]

In [96]:
from split import  train_test_split
#split arrays into two (train, test)
#shuffling is True by default
X_train, X_test, y_train, y_test = train_test_split(ary[:, :4], ary[:, 4], train_size=3/4)

In [97]:
#confirm if correctly split
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(75, 4)
(25, 4)
(75,)
(25,)

In [106]:
#LogisticRegression.pyからLogRegをインポート
from modules.LogisticRegression import LogReg

pred, prob = LogReg(X_train, X_test, y_train, y_test)

              precision    recall  f1-score   support

         1.0       0.94      1.00      0.97        15
         2.0       1.00      0.90      0.95        10

   micro avg       0.96      0.96      0.96        25
   macro avg       0.97      0.95      0.96        25
weighted avg       0.96      0.96      0.96        25

/Users/ohmori/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [51]:
# Pipeline クラスをインポート
from sklearn.pipeline import Pipeline

# StanardScalerクラスをインポート
from sklearn.preprocessing import StandardScaler

# 各機械学習モデルをインポート
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import GridSearchCV

In [107]:
pred

array([2., 2., 2., 1., 2., 1., 1., 1., 2., 1., 2., 2., 2., 1., 1., 2., 1.,
       1., 1., 1., 1., 1., 1., 1., 1.])

In [108]:
prob

array([[0.12176781, 0.87823219],
       [0.19403073, 0.80596927],
       [0.00220392, 0.99779608],
       [0.99368229, 0.00631771],
       [0.27422533, 0.72577467],
       [0.9986149 , 0.0013851 ],
       [0.95281522, 0.04718478],
       [0.86000011, 0.13999989],
       [0.04749679, 0.95250321],
       [0.9460381 , 0.0539619 ],
       [0.01163714, 0.98836286],
       [0.10215512, 0.89784488],
       [0.02692387, 0.97307613],
       [0.87011056, 0.12988944],
       [0.97193323, 0.02806677],
       [0.39185812, 0.60814188],
       [0.98272526, 0.01727474],
       [0.88649176, 0.11350824],
       [0.98983738, 0.01016262],
       [0.98377435, 0.01622565],
       [0.95666637, 0.04333363],
       [0.94590879, 0.05409121],
       [0.60531666, 0.39468334],
       [0.94042069, 0.05957931],
       [0.98556189, 0.01443811]])

## 【問題3】 回帰パイプラインの作成
回帰は1種類を扱います。pyファイルで実行できる回帰のパイプラインを作成してください。

* 線形回帰

データセットは事前学習期間同様にHouse Pricesコンペティションのものを使います。

House Prices: Advanced Regression Techniques

train.csvをダウンロードし、目的変数としてSalePrice、説明変数として、GrLivAreaとYearBuiltを使います。